<div class="container  my-3" *ngIf="!carrinhoVazio">
    <h1 class="font-title">Carrinho</h1>

    <div class="row">
        <div class="col-md-8 table-responsive">
          <div class="row" *ngIf="show_size_alert" >
            <div class="alert alert-primary" role="alert">
                Para finalizar a compra você de selecionar o tamanho para todos os seus produtos no carrinho
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-2" *ngFor="let produto of listaProdutos; let i = index" >
              <app-carrinho-card [show_size_alert]="show_size_alert" [produto]="produto"
              (decrese)="decrement($event)" (increse)="increment($event)"
              (remove)="deletar(produto,i)" (update_in_local)="UpdateCarrinho(produto,i)"></app-carrinho-card>
            </div>
          </div>
            
        </div>
        <div class="col-md-4">
            <div class="card text-dark">
                <div class="card-header font-sub">
                    <h3>Total no carrinho</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Subtotal: R$:{{precoTotal.toFixed(2)}}</li>
                    
                  </ul>
            </div>
            <button class="btn btn-dark w-100 mt-2" (click)="checkIfAllHaveSize()"  >Finalizar Compra</button>
        </div>
    </div>
</div>

<div class="container text-white my-3" *ngIf="carrinhoVazio">
    <div class="alert alert-danger">Seu carrinho está vazio, volte para à loja e selecione algum produto.</div>
    <a class="btn btn-light" routerLink="/camisetas">Voltar às compras</a>
</div>

<app-toast aria-live="polite" aria-atomic="true"></app-toast>
