<div class="container  p-2">
  <div style="height: 100%;" class="mt-5">
    <div class="row font-title">
      <div class="col">
        <label class="text-dark">
          <h1>
            Insira seus Dados de Cadastro
          </h1>

        </label>
      </div>
    </div>
    <app-white-divider></app-white-divider>
  </div>

    <div class="row mt-5">
      <div class="col text-center">
        <label class="text-dark font-title ">
          <h2>Preencha seus dados de cadastro, para iniciar sua jornada de compras!</h2>
        </label>
      </div>
    </div>
    <div class="font-sub">


    <div class="row justify-content-center" *ngIf="showAlert" >
      <div class="col-8">
        <app-form-alert [text]="AlertText"></app-form-alert>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-10">
        <label class="txtHeader text-dark">Nome</label>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-10">
        <input type="text" [(ngModel)]="nome" placeholder="digite aqui..." style="background: transparent; border: solid 1px black;" class="form-control">
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-10">
        <label class="txtHeader text-dark">Email</label>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-10">
        <input type="text" [(ngModel)]="email" placeholder="digite aqui..." style="background: transparent; border: solid 1px black;" class="form-control">
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-10">
        <label class="txtHeader text-dark">Senha</label>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-10">
        <input type="password" (keyup.enter)="login()" [(ngModel)]="senha" placeholder="digite aqui..." style="background: transparent; border: solid 1px black;" class="form-control">
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-10">
        <small class="text-dark  ml-3">A senha deve ter no mínimo 8 caracteres</small>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-8">
        <button class="btn btn-block bg-preto-opaco" (click)="login()">
          <label class="text-white">
            Confirmar
          </label>
        </button>
    </div>
  </div>
  <div class="row justify-content-center mt-3 text-center">
    <div class="col-8">
      <button class="btn btn-block bg-preto-opaco"  (click)="googleLogin()">
        <div class="row m-0 p-0">
          <div class="col-auto m-0 p-0">
            <img src="../../../assets/imgs/icone-google.png" >
          </div>
          <div class="col">
            <label class="mt-2 text-white">
              Faça login com o google
            </label>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
