<div class="container-fluid">
    <p class="text-center h4 my-3">Configurações</p>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Informações da conta">

            <div class="container col my-5 bg-light border rounded p-3">
                <div class="form-row">
                    <div class="col-8 float-left">
                        <h5>Nome</h5>
                        <p>{{usuario.nome}}</p>
                        <div #alterarNome hidden="true">
                            <input type="text" class="form-control mb-2" [(ngModel)]="usuario.nome">
                            <button class="btn btn-success col-12" (click)="atualizarNome()">Salvar alterações</button>
                        </div>

                    </div>
                    <div class="col-4">
                        <button class="btn btn-light float-right" (click)="onEditar(alterarNome)">Editar</button>
                    </div>
                </div>
                <hr class="divider">
                <div class="form-row">
                    <div class="col-8 float-left">
                        <h5>E-mail</h5>
                        <p>{{usuario.email}}</p>
                        <div #alterarEmail hidden="true">
                            <input type="text" class="form-control mb-2" [(ngModel)]="usuario.email">
                            <button class="btn btn-success col-12" (click)="atualizarEmail()">Salvar alterações</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-light float-right" (click)="onEditar(alterarEmail)">Editar</button>
                    </div>
                </div>
                <!--<hr class="divider">
                <div class="form-row">
                    <div class="col-8 float-left">
                        <h5>Senha</h5>
                        <p>*********</p>
                        <div #alterarSenha hidden="true">
                            <label for="">Senha atual</label>
                            <input type="password" class="form-control mb-2" [value]="">
                            <label for="">Nova senha</label>
                            <input type="password" class="form-control mb-2" [value]="">
                            <label for="">Confirmar senha</label>
                            <input type="password" class="form-control mb-2" [value]="">
                            <button class="btn btn-success col-12" (click)="atualizarSenha()">Salvar alterações</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-light float-right" (click)="onEditar(alterarSenha)">Editar</button>
                    </div>
                </div>-->
            </div>

        </mat-tab>


      </mat-tab-group>

</div>
