<div class="card px-1 py-2 m-0 bg-branco-opaco shadow" (click)="goToProductPage()">
  <ngb-carousel  >
    <ng-template ngbSlide *ngFor="let img of produto.foto">
      <div class="picsum-img-wrapper" >
        <img class="card-img-top" style="border-radius: 10px;"   [src]="img" alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="card-body" *ngIf="produto.promocao">
    <h5 class="card-title text-break" style="white-space: normal;">{{ produto.nome }}</h5>
    <p class="card-text font-sub">
        <s >De - R$ {{ produto.preco }}</s>
        <br>
        <strong>
          Por - R$ {{ getDiscount() }}
        </strong>
    </p>

  </div>
  <div class="card-body " *ngIf="!produto.promocao">

    <h5 class="card-title text-break" style="white-space: normal;">{{ produto.nome }}</h5>
    <p class="card-text font-sub">
        Por - R$ {{ produto.preco }}
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button class="bg-preto-opaco text-white  btn btn-sm shadow-sm" (click)="adicionarCarrinho(); $event.stopPropagation();" *ngIf="!usuarioAtual.manager">
        Carrinho
        <span>
          <fa-icon [icon]="buy_icon" class="float-right" ></fa-icon>
        </span>
      </button>
      <button class="btn btn-success" (click)="editarProduto(produto, produto.key); $event.stopPropagation();" *ngIf="usuarioAtual.manager">
          Editar
      </button>
    </div>
  </div>


</div>
