<div class="card px-1 pt-1 m-0 bg-branco-opaco shadow">
  <fa-icon [icon]="buy_icon" class="float-right"></fa-icon>
  <ngb-carousel  >
    <ng-template ngbSlide *ngFor="let img of produto.foto">
      <div class="picsum-img-wrapper" >
        <img class="card-img-top" style="border-radius: 10px;"   [src]="img" alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="card-body" *ngIf="promocao">
    <h5 class="card-title text-break" style="white-space: normal;">{{ produto.nome }}</h5>
    <p class="card-text font-sub">
        <s *ngIf="promocao" >De - R$ {{ produto.preco }}</s>
        <br>
        <strong>
          Por - R$ {{ getDiscount() }}
        </strong>
    </p>
  </div>
  <div class="card-body " *ngIf="!promocao">

    <h5 class="card-title text-break" style="white-space: normal;">{{ produto.nome }}</h5>
    <p class="card-text font-sub">
        Por - R$ {{ produto.preco }}
    </p>
  </div>
</div>
