<div class="container p-2 ">
  <div style="height: 100%;" class="mt-5">
    <div class="row font-title">
      <div class="col">
        <label class="text-dark">
          <h1>
            Insira seus Dados de Login
          </h1>

        </label>
      </div>
    </div>
    <app-white-divider></app-white-divider>
  </div>
  <div class="font-sub">

    <div class="row mt-5">
      <div class="col text-center">
        <label class="text-dark font-title"><h2>Preencha seus dados e faça seu login para retormar as compras conosco!</h2></label>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="showAlert" >
      <div class="col-8">
        <app-form-alert [text]="AlertText"></app-form-alert>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-10">
        <label class="txtHeader text-dark">Email</label>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-10">
        <input type="text" [(ngModel)]="email" placeholder="digite aqui..." style="background: transparent; border: solid 1px black;" class="form-control">
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-10">
        <label class="txtHeader text-dark">Senha</label>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-10">
        <input type="password" [(ngModel)]="senha" placeholder="digite aqui..." style="background: transparent; border: solid 1px black" class="form-control">
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-8 col-12">
        <label class="text-dark  ml-3">Não Possui uma Conta? <a routerLink="/cadastro" class="text-dark"><strong>Clique Aqui</strong> </a></label>
      </div>
      <div class="col-md-2 col-12">
        <label data-toggle="modal" data-target="#modalSenha">Esqueceu sua senha?</label>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-8">
        <button mat-raised-button class="btn btn-block bg-preto-opaco text-white" (click)="Logar()">
            Confirmar
        </button>
    </div>
  </div>

</div>

<div class="modal fade" id="modalSenha" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Restaurar Senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="email" class="">Digite seu email</label>
        <input type="text" [(ngModel)]="emailSenha" id="email" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reenviarSenha(emailSenha)">Enviar</button>
      </div>
    </div>
  </div>
</div>
