<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body class="d-flex flex-column bg-branco-opaco" style="overflow-x: hidden;">
      <app-nav-bar></app-nav-bar>
      <router-outlet></router-outlet>
      <footer class="footer bg-orange mt-3 " style="height: 100px;">
        <div class="" style="height: 100%;"></div>
      </footer>
  </body>

</html>
