<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body class="d-flex flex-column bg-branco-opaco" style="overflow-x: hidden;">
    <mat-sidenav-container class="example-container" style="overflow: initial;">
      <mat-sidenav
        fullscreen
        fixedInViewport="true"
        #sidenav
        mode="over"
        position="end"
        [(opened)]="opened"
        (opened)="events.push('open!')"
        (closed)="events.push('close!')"
      >
        <mat-list class="fontSub">
          <mat-list-item>
            <mat-icon matListIcon><fa-icon [icon]="signIn"></fa-icon></mat-icon>
            <h3 matLine>{{ usuarioAtual.nome }}</h3>
            <p matLine>
              <a routerLink="/configuracoes"> Ver Configuração da conta</a>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon><fa-icon [icon]="bag"></fa-icon></mat-icon>
            <h3 matLine>Minhas compras</h3>
          </mat-list-item>
          <mat-list-item (click)="isMenuCollapsed = !isMenuCollapsed">
            <mat-icon matListIcon> <fa-icon [icon]="tools"></fa-icon></mat-icon>
            <h3 matLine>Gerenciar</h3>
          </mat-list-item>
          <div
            id="collapseExample"
            class="bg-light"
            [ngbCollapse]="isMenuCollapsed"
          >
            <mat-list-item>
              <h3 matLine>
                <a
                  class="text-dark"
                  routerLink="/adicionar-produto"
                  (click)="sidenav.toggle()"
                  >Produtos</a
                >
              </h3>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>
                <a
                  class="text-dark"
                  routerLink="/promocoes"
                  (click)="sidenav.toggle()"
                  >Promoções</a
                >
              </h3>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>
                <a class="text-dark" routerLink="/tags" (click)="sidenav.toggle()"
                  >Tags</a
                >
              </h3>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>
                <a
                  class="text-dark"
                  routerLink="/destaques"
                  (click)="sidenav.toggle()"
                  >Destaques</a
                >
              </h3>
            </mat-list-item>
          </div>
          <mat-list-item *ngIf="!estaLogado" (click)="Deslogar()">
            <mat-icon matListIcon><fa-icon [icon]="signIn"></fa-icon></mat-icon>
            <h3 matLine>Entrar</h3>
          </mat-list-item>
          <mat-list-item *ngIf="estaLogado" (click)="Deslogar()">
            <mat-icon matListIcon><fa-icon [icon]="signOut"></fa-icon></mat-icon>
            <h3 matLine>Sair</h3>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>

      <mat-sidenav-content style="overflow-x: hidden;">
        <nav
          class="navbar navbar-expand-lg bg-white font-sub p-1 p-md-auto"

        >
        <div class=" ml-2   row justify-content-center w-100">
          <div class="col-6" >
            <div class="text-center" >
              <a routerLink="/">
                <img
                  src="../assets/imgs/LETREIRO (1).png"
                  alt="logo"
                  class=" my-0 img-fluid"
                  style="width: 200px;"
                />
              </a>
            </div>
          </div>

        </div>
        <br>
          <!-- <div class="row p-0 m-0 w-100 justify-content-center text-center">
            <div class="col-md-2 col-sm-2 col">
              <div class="navbar-brand float-left" style="max-width: 5rem;">
                <a routerLink="/">
                  <img
                    src="../assets/imgs/logo-sigo.png"
                    alt="logo"
                    class="mx-2 my-0 img-fluid"
                  />
                </a>
              </div>
            </div>
            <div class="col-md col-sm-auto col-auto my-auto">
              <div class="row ">
                <div
                  [ngbCollapse]="isSearchCollapsed"
                  class="collapse navbar-collapse"
                  style="min-width: 10rem;"
                >
                  <div class="col-md col-sm-8 col-12 mr-0 pr-0">
                    <input
                      class="input-text form-control border-left-0 border-top-0 border-right-0"
                      type="search"
                      placeholder="Diga o que está pensando..."
                      aria-label="Search"
                    />
                  </div>
                </div>
                <div class="col-auto ml-0 pl-0">
                  <button
                    mat-icon-button
                    (click)="isSearchCollapsed = !isSearchCollapsed"
                    type="button"
                    data-toggle="collapse"
                  >
                    <fa-icon [icon]="search"></fa-icon>
                  </button>
                </div>
                <div class="col-auto">
                  <button mat-icon-button                 routerLink="/carrinho"
                  >

                      <fa-icon
                        [icon]="buyCart"
                        routerLinkActive="selecionado"
                      ></fa-icon>
                  </button>

                </div>
                <div class="col-auto my-auto" *ngIf="!estaLogado">
                  <a
                    class="navbar-link text-dark"
                    routerLink="/login"
                    routerLinkActive="selecionado"
                    >Fazer Login !</a
                  >
                </div>
                <div class="col-auto my-auto" *ngIf="estaLogado">
                  <button mat-icon-button (click)="sidenav.toggle();!isSearchCollapsed?isSearchCollapsed = !isSearchCollapsed:null">
                    <fa-icon [icon]="menu_icon"></fa-icon>
                  </button>
                </div>
              </div>

            </div>
          </div> -->
        </nav>
        <div class="row font-title justify-content-center" style="background-color:white;color: black !important; box-shadow: 0 1px 2px 0 #818391;">
          <div class="col-md-6">

            <ul class="list-group list-group-horizontal font-title " >
              <li class="list-group-item border-0">
                <a
                    routerLink="/lancamentos"
                    routerLinkActive="selecionado"
                    class="text-dark"
                    >Lançamentos</a
                  >
              </li>
              <li class="list-group-item border-0">
                <a routerLink="/tenis" routerLinkActive="selecionado" class="text-dark">
                  Marcas
                </a>
              </li>
              <li class="list-group-item border-0">
                <a
                    routerLink="/tenis"
                    routerLinkActive="selecionado"
                    class="text-dark"
                  >
                    Tênis
                  </a>
              </li>
              <li class="list-group-item border-0">
                <a
                routerLink="/camisetas"
                routerLinkActive="selecionado"
                class="text-dark"
              >
                Roupas
              </a>
              </li>

            </ul>

          </div>


          <div class="col-md-6 ">
            <div class="row justify-content-end">
              <div class="col-auto">
                <div
                [ngbCollapse]="isSearchCollapsed"
                class="collapse navbar-collapse"
                style="min-width: 10rem;"
                >
                  <div class="">
                    <app-pesquisar></app-pesquisar>
                  </div>

                  
                </div>
              </div>
              <div class="col-auto ml-0 pl-0">
                <button
                  mat-icon-button
                  (click)="isSearchCollapsed = !isSearchCollapsed"
                  type="button"
                  data-toggle="collapse"
                >
                  <fa-icon [icon]="search"></fa-icon>
                </button>
              </div>
              <div class="col-auto">
                <button mat-icon-button routerLink="/carrinho"
                >

                    <fa-icon
                      [icon]="buyCart"
                      routerLinkActive="selecionado"
                    ></fa-icon>
                </button>

              </div>
              <div class="col-auto my-auto" *ngIf="!estaLogado">
                <a
                  class="navbar-link text-dark"
                  routerLink="/login"
                  routerLinkActive="selecionado"
                  >Fazer Login !</a
                >
              </div>
              <div class="col-auto" *ngIf="estaLogado">
                <button mat-icon-button (click)="sidenav.toggle();!isSearchCollapsed?isSearchCollapsed = !isSearchCollapsed:null">
                  <fa-icon [icon]="menu_icon"></fa-icon>
                </button>
              </div>
            </div>


          </div>

        </div>


        <router-outlet>

        </router-outlet>
        <mat-fab-menu (onFabMenuItemSelected)="clicked($event)" color="primary" icon="chat" style="bottom: 0px;position: fixed; right: 10px;z-index: 1010;"
        [fabButtons]="fabButtonsRandom">
        </mat-fab-menu>



      </mat-sidenav-content>
    </mat-sidenav-container>
    <footer class="footer bg-preto-opaco  mt-auto py-3 text-white">
      <div class="container" style="height: 100%;">
        <div class="row">
          <div class="col-md-4 p-3">
            <div class="row justify-content-center">
              <mat-icon matListIcon><fa-icon [icon]="creditCard" style="color: white; height: 100px;"></fa-icon></mat-icon>
            </div>
            <h3 class="text-center">Formas de pagamento</h3>
            <div class="row justify-content-center">
              <img src="../assets/imgs/bandeiras-pagseguro.png" alt="" class="col">

            </div>
          </div>
          <div class="col-md-4 p-3">
            <div class="row justify-content-center">
              <mat-icon matListIcon><fa-icon [icon]="truck" style="color: white; height: 100px;"></fa-icon></mat-icon>
            </div>
            <h3 class="text-center">Frete Grátis</h3>
            <h5 class="text-center">Entrega grátis para todo Brasil, realizadas pelos Correios</h5>
          </div>
          <div class="col-md-4 p-3">
            <div class="row justify-content-center">
              <mat-icon matListIcon><fa-icon [icon]="shieldAlt" style="color: white; height: 100px;"></fa-icon></mat-icon>
            </div>
            <h3 class="text-center">Segurança</h3>
            <div class="justify-content-center">
              <img src="../assets/imgs/icone-ssl.png" alt="" class="col-6">
              <img src="../assets/imgs/icone-pagseguro.png" alt="" class="col-6">

            </div>
          </div>
        </div>
        <hr class="my-3" style="height: 1px; color: white;">
        <div class="row justify-content-center">&#169; Sigo Supply</div>
      </div>
    </footer>


  </body>

</html>
