<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body class="d-flex flex-column pic-bg ">
      <nav class="navbar navbar-expand-lg bg-orange  font-sub">
        <a routerLink="/"
          ><img
            src="../assets/imgs/logo-sigo.jpeg"
            alt="logo"
            class="mx-2 my-0"
            height="60px"
        /></a>

          <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"

        >
        <fa-icon [icon]="menu_icon"></fa-icon>


        </button>

        <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
          <div data-toggle = "collapse" data-target="#navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item  navbar-text mx-2">
                <a
                  routerLink="/camisetas"
                  routerLinkActive="selecionado"
                  class="nav-link text-white"
                  >Camisetas</a
                >
              </li>
              <li class="nav-item  navbar-text mx-2">
                <a
                  routerLink="/tenis"
                  routerLinkActive="selecionado"
                  class="nav-link text-white"
                  >Tenis</a
                >
              </li>

              <li class="nav-item navbar-text mx-2">
                <a
                  routerLink="/shorts"
                  routerLinkActive="selecionado"
                  class="nav-link text-white"
                  >Shorts</a
                >
              </li>
              <li class="nav-item navbar-text mx-2">
                <a
                  routerLink="/contato"
                  routerLinkActive="selecionado"
                  class="nav-link text-white"
                  >Contato</a
                >
              </li>
              <li class="nav-item navbar-text dropdown mx-2">
                <a
                  class="nav-link text-white dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Gerencia</a
                >
                <div class="dropdown-menu">
                  <a
                    routerLink="/tags"
                    routerLinkActive="selecionado"
                    class="nav-link  dropdown-item"
                    >Gerenciar Tags</a
                  >
                  <a
                    routerLink="/promocoes"
                    routerLinkActive="selecionado"
                    class="nav-link dropdown-item"
                    >Gerenciar Promoções</a
                  >
                  <a
                    routerLink="/adicionar-produto"
                    routerLinkActive="selecionado"
                    class="nav-link dropdown-item"
                    >Gerenciar produtos</a
                  >
                  <a
                  routerLink="/destaques"
                  routerLinkActive="selecionado"
                  class="nav-link dropdown-item"
                  >Gerenciar Destaques</a
                >
                </div>
              </li>
              <li class="nav-item navbar-text dropdown mx-2">
                <a
                  class="nav-link dropdown-toggle text-white"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  *ngIf="estaLogado"
                  >Bem vindo, {{ usuarioAtual.nome }}
                </a>
                <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                *ngIf="!estaLogado"
                >Faça seu login
              </a>
                <div class="dropdown-menu">
                  <a
                    routerLink="/login"
                    routerLinkActive="selecionado"
                    class="nav-link dropdown-item"
                    *ngIf="!estaLogado"
                    >Login</a
                  >
                  <a
                    class="nav-link dropdown-item "
                    *ngIf="estaLogado"
                    (click)="Deslogar()"
                    >Sair</a
                  >
                  <a
                    routerLink="/cadastro"
                    routerLinkActive="selecionado"
                    class="nav-link  dropdown-item"
                    *ngIf="!estaLogado"
                    >Cadastre-se</a
                  >
                </div>
              </li>
            </ul>
          </div>

          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
      <router-outlet></router-outlet>
      <footer class="footer bg-orange mt-auto " style="height: 100px;">
        <div class="" style="height: 100%;"></div>
      </footer>
  </body>

</html>
