.bg-menu{
    background-color: #FF8A2E;
}
.collapse-class {
  display: inline;

}

.pic-bg{
  background: #121212 url('../assets/imgs/grafite.png') no-repeat center center fixed;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.txtNome{
  color: white;
  font-size: large;
}


.nav-shadow{
  background-color:white;
  color: black !important;
  box-shadow: 0 1px 2px 0 #818391;
}
