<div class="container pb-3">
  <div class="row mt-3">
    <div class="col">
      <label class="font-title ">
        <h1>Gerencia suas promoções</h1>
      </label>
    </div>
  </div>
  <app-white-divider></app-white-divider>
  <div class="row">
    <div class="col font-sub ">
      <p class="h3 ">
        Veja suas promoções já criadas
      </p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="all_promotions" >
    <div class="col-auto my-3" *ngFor="let promotion of all_promotions ;let i = index">
      <div class="card font-sub" >
        <div class="card-body" >
          <h5 class="card-title">{{promotion.nome}}</h5>
          <p class="card-text">{{promotion.descricao}}</p>
        </div>
        <ul class="list-group list-group-flush"  >
          <li class=" list-group-item list-group-header"><strong>Produtos</strong></li>
          <li class="list-group-item" *ngFor="let produto of promotion.produtos">{{getProductName(produto)}}</li>
        </ul>
        <div class="row justify-content-center p-2">
          <div class="col-auto">
            <button mat-raised-button class="bg-preto-opaco text-white btn" (click)="updatePromotion(i)">Editar</button>
          </div>
          <div  class="col-auto">
            <button mat-raised-button class="bg-danger text-white btn" (click)="deletePromotion(i)"> deletar</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col font-sub ">
      <p class="">
        Crie sua promoção e adicione os produtos que receberam este desconto
      </p>
      <br>
      <button mat-raised-button class="btn bg-preto-opaco text-white mx-auto" (click)="showInput()">
        nova promoção
      </button>
    </div>
  </div>
  <div class="my-3" *ngIf="show_input">
    <div class="row justify-content-center mt-3">
      <div class="col-sm-8 col-12">
        <label class="font-sub ">Nome:</label>
        <input
          type="text"
          [(ngModel)]="new_promotion.nome"
          placeholder="digite aqui..."
          style="background: transparent; border: solid 1px black;"
          class="form-control"
        />
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-sm-8 col-12">
        <label class="font-sub ">Descrição:</label>
        <input
          type="text"
          [(ngModel)]="new_promotion.descricao"
          placeholder="digite aqui..."
          style="background: transparent; border: solid 1px black;"
          class="form-control"
        />
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-sm-8 col-12">
        <label class="font-sub "
          >Valor de desconto(insira a porcentagem que será abatida do valor do
          produto):</label
        >
        <input
          type="number"
          [(ngModel)]="new_promotion.valor_porcentagem"
          placeholder="digite aqui..."
          style="background: transparent; border: solid 1px black;"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row" *ngIf="show_input">
    <div class="col-sm-2 col-6 float-left" *ngFor="let produto of produtos; let i = index">
      <label class="btn-primary" style="width: 100%;" ngbButtonLabel>
        <input type="checkbox"  [ngModel]="isChecked(produto.key)" ngbButton (change)="getKey(i)" [disabled]="!isChecked(produto.key) && produto.promocao">
        Selecionar
      </label>
      <app-show-component  [produto]="produto"></app-show-component>
    </div>
  </div>
  <div class="row justify-content-center mt-2" *ngIf="show_input">
    <div class="col-auto">
      <button mat-raised-button
        class="btn bg-preto-opaco text-white "
        (click)="makePromotion()">
        adicionar promoção
      </button>
    </div>
  </div>
</div>
