<div class="card">
  <div class="row">
    <div class="col-md-6 col-auto">
      <app-carousel [show_captions]="false" [images]="produto.foto"></app-carousel>
    </div>
    <div class="col-md-6  col ">
      <a class="text-dark text-center" [routerLink]="'/ver-produto/' + produto.key">
        <strong>
          {{produto.nome}}
        </strong>

      </a>
      <span class="float-right"><fa-icon [icon]="delete_icon " (click)="removeProduct(); onToast()"></fa-icon></span>
      <p class="px-sm-2 px-md-0">
        R$ {{preco}}
        <br>
        <label  *ngIf="isSizedProduct()">
          Tamanho: {{produto.selected_size}}
        </label>
        <br>

        <label>
          Marca: {{produto.marca}}
        </label>
        <br>

        <select class="form-control "  *ngIf="!isSizedProduct()" [(ngModel)]="produto.selected_size" (change)="emitUpdate()">
          <option value="">tamanho</option>
          <option [value]="tamanho" *ngFor="let tamanho of produto.tamanho" >{{tamanho}}</option>
        </select>


            Quantidade:
              <button class="btn-sm btn btn-outline-dark" (click)="emitDecrese()">-</button>
            <span class="mx-1">{{produto.quantidadeCarrinho}}</span>
            <button class="btn btn-sm btn-outline-dark" (click)="emitIncrise()">+</button>

      </p>
    </div>
  </div>
</div>
