<p class="text-center h4 my-3">Adicionar novo Produto</p>

<form (ngSubmit)="onSubmit()">
    <div class="container my-3 bg-light border rounded p-3">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="">Nome:</label>
                <input class="form-control" type="text" [(ngModel)]="produto.nome" name="nome"/>
            </div>
            <div class="form-group col-6">
                <label for="">Tipo:</label>
                <select class="form-control" (change)="addTipo($event.target.value)" name="tipo" *ngIf="tags" >
                  <option value="default">Selecione um tipo</option>
                  <option *ngFor="let tag of tags.tipo | keyvalue" [value]="tag.key">{{tag.key}}</option>
                </select>
                <br *ngIf="produto.tipo.length > 0">
                 <table class="table table-striped" *ngIf="produto.tipo.length > 0">
                    <tbody>
                        <tr *ngFor="let tipo of produto.tipo; let i = index">
                            <th scope="col"><fa-icon [icon]="delete_icon" (click)="removerItem(produto.tipo, i)"></fa-icon></th>
                            <th scope="col">{{tipo}}</th>
                        </tr>
                    </tbody>
                 </table>

            </div>
            <div class="form-group col-6">
                <label for="">Marca:</label>
                <select class="form-control" [(ngModel)]="produto.marca" name="marca" *ngIf="tags" >
                    <option>Selecione uma marca</option>
                  <option *ngFor="let tag of tags.marca | keyvalue" [value]="tag.key">{{tag.key}}</option>
                </select>
                <br *ngIf="produto.marca">
                <table class="table table-striped" *ngIf="produto.marca.length > 0">
                    <tbody>
                        <tr>
                            <th scope="col"><fa-icon [icon]="delete_icon" (click)="removerItem(produto.marca, 0)"></fa-icon></th>
                            <th scope="col">{{produto.marca}}</th>
                        </tr>
                    </tbody>
                 </table>
            </div>
            <div class="form-group col-6">
                <label for="">Tamanho:</label>
                <select class="form-control"(change)="addTamanho($event.target.value)"  *ngIf="tags" name="tamanho" >
                  <option value="default">Selecione um tamanho</option>
                  <option *ngFor="let tag of tags.tamanho | keyvalue" [value]="tag.key">{{tag.key}}</option>
                </select>
                <br *ngIf="produto.tamanho.length > 0">
                <table class="table table-striped" *ngIf="produto.tamanho.length > 0">
                    <tbody>
                        <tr *ngFor="let tamanho of produto.tamanho; let i = index">
                            <th scope="col"><fa-icon [icon]="delete_icon" (click)="removerItem(produto.tamanho, i)"></fa-icon></th>
                            <th scope="col">{{tamanho}}</th>
                        </tr>
                    </tbody>
                 </table>
            </div>
            <div class="form-group col-6">
                <!--<label for="">Cores:</label>
                <br>
                <div class="form-check form-check-inline" *ngFor="let item of cor" >
                    <input class="form-check-input" type="checkbox" [value]="item" [(ngModel)]="produto.cor" name="cor" [id]="item">
                    <label class="form-check-label" [for]="item">{{ item }}</label>

                </div>-->
                <label for="">Cor:</label>
                <select class="form-control" (change)="addColor($event.target.value)"  *ngIf="tags" name="cor">
                    <option value="default">Selecione uma cor</option>
                    <option *ngFor="let tag of tags.cor | keyvalue" [value]="tag.key" >{{tag.key}}</option>
                </select>
                <br *ngIf="produto.cor.length > 0">
                <table class="table table-striped" *ngIf="produto.cor.length > 0">
                    <tbody>
                        <tr *ngFor="let cor of produto.cor; let i = index">
                            <th scope="col"><fa-icon [icon]="delete_icon" (click)="removerItem(produto.cor, i)"></fa-icon></th>
                            <th scope="col">{{cor}}</th>
                        </tr>
                    </tbody>
                 </table>

            </div>
            <div class="form-group col-6">
                <label for="">Preço:</label>
                <input class="form-control " type="text" [(ngModel)]="produto.preco" name="preco" data-mask="00/00/0000"/>
            </div>
            <div class="form-group col-6">
                <label for="">Categoria:</label>
                <select class="form-control" [(ngModel)]="produto.categoria" name="categoria">
                    <option *ngFor="let item of categoria" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="form-group col-6">
                <label for="">Foto:</label>
                <div class="custom-file">
                    <div class="form-control dropzone text-center"
                        dropzone
                        (hovered)="toggleHover($event)"
                        (dropped)="onDrop($event)" id="dropzone">


                        <h3 class="dz-message">Arraste as fotos até aqui</h3>
                    </div>


                </div>
            </div>

            <div class="form-group col-12">
                <h3>Fotos:</h3>

                <div *ngFor="let file of files; let i = index" class="float-left">

                    <upload-task [file]="file" [recebeProdutos]="produto" (enviarUrl)="receberUrl($event)" (foto_removida)="FotoRemovida(i)"></upload-task>
                </div>
            </div>
        </div>
        <button class="btn btn-dark">Adicionar</button>



    </div>
</form>




