.bg-card-promocao{
    background: linear-gradient(to bottom, #332418, #4D3625, #332418);
}

.centralizar{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

