.bg-card-promocao{
    background: linear-gradient(to bottom, rgb(255, 138, 46), rgb(255, 114, 6));
}

.centralizar{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}