.bg-card-promocao{
<<<<<<< HEAD
    background: linear-gradient(to bottom, rgb(255, 138, 46), rgb(255, 114, 6));
=======
    background: linear-gradient(to bottom, #332418, #4D3625, #332418);
>>>>>>> 08b934070ba324b212c9517e3503ec2673e85198
}

.centralizar{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

