  <app-carousel style="width: 100%;"  [images]="corrousel_photos"></app-carousel>

<div *ngIf="produtos_promocao[0][0]"  >
  <div class="container-fluid mt-5 p-0" *ngFor="let promocao of promocoes;let i = index">
    <div class="row">
      <div class="col">
        <h1 class="txtOrange text-center mb-3 font-sub">
          Promoção -
          {{ promocao.nome }}
        </h1>
      </div>
    </div>
<app-white-divider></app-white-divider>
    <div>
      <div class="row px-1">
        <div class="col text-center">
          <label class="font-sub txtSub texto-branco-opaco ">{{
            promocao.descricao
          }}</label>
        </div>
      </div>

      <div class="row justify-content-center px-1">
        <div class="col-md-3 mt-2 col-sm-10 "   *ngFor="let produto of produtos_promocao[i]">
          <app-buy-card   [produto]="produto" [promocao]='promocao'></app-buy-card>
        </div>
      </div>
    </div>
    </div>

  <div class="row mt-5" *ngIf="destaques" >
    <div class="col">
      <h1 class="txtOrange text-center mb-3 font-sub">
        Destaques
      </h1>
    </div>
  </div>
  <app-white-divider></app-white-divider>

  <div class="row justify-content-center px-1" *ngIf="destaques">
    <div class="col-md-3 mt-2 col-sm-10 "   *ngFor="let produto of produtos_em_destaque">
      <app-buy-card  [produto]="produto" ></app-buy-card>
    </div>
  </div>

</div>
<a routerLink="/calcular-frete">calcular-frete</a>
