
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step >
    <form>
      <ng-template matStepLabel>Dados do comprador</ng-template>
        <app-formulario-comprador (goToNextStep)="CompradorPronto($event)"></app-formulario-comprador>

    </form>
  </mat-step>
  <mat-step >
    <form >
      <ng-template matStepLabel>Dados de entrega</ng-template>
      <app-formulario-endereco (goToNextStep)="EntregaPronto($event)"></app-formulario-endereco>

    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <p>Para finalizar sua compra, você será redirecionado para um ambiente seguro da PagSeguro</p>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button  class="btn bg-preto-opaco text-white" (click)="AbrirLightBox()" [disabled]="!compra.comprador || !frete.cep" >
          Próximo
      </button>
      </div>
    </div>

  </mat-step>
</mat-horizontal-stepper>
