/* You can add global styles to this file, and also import other style files */

.selecionado{
    font-weight: bold;

}

.bg-white{
  background-color: white;
}

.bg-orange{
  background-color: #FFA866;
}
.font-sub{
  font-family: 'Raleway' , sans-serif;
}
.font-title{
  font-family: 'Montserrat', sans-serif;
}
.txtHeader{
  font-size: 20px;
  letter-spacing: 1px;
}
.txtTitulo{
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
.txtSub{
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.txtbtn{
  font-size: 5rem;
  letter-spacing: 1.5px;
}
.texto-branco-opaco{
  color: rgb(255, 255, 255,0.87);
}
.bg-branco-opaco{
  background-color: rgb(255, 255, 255,0.87);
}
.txtOrange{
  color: #FFA866;
}
.bg-preto-opaco{
  background-color: #121212;
}
.scroll-horizontal > .row {
  overflow-x: auto;
  flex-wrap: nowrap;

}
.scroll-horizontal > .row > .col-md-2 {
  display: inline-block;
  float: none;
}

.dropzone {
  border: 2px dashed #000;
  border-radius: 5px;
  background: #f5f5f5;
}


.dropzone .dz-message {
  color: rgba(0,0,0,.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}

.dropzone:hover{
  background: #e0e0e0;
  border: 2px solid #000;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
