/* You can add global styles to this file, and also import other style files */

.selecionado{
    font-weight: bold;

}

.bg-card-produto{
  background: linear-gradient(to bottom, rgb(255, 138, 46), rgb(255, 114, 6));
}

.bg-orange{
  background-color: #FFA866;
}
.font-sub{
  font-family: 'Raleway' , sans-serif;
}
.font-title{
  font-family: 'Montserrat', sans-serif;
}
.txtHeader{
  font-size: 20px;
  letter-spacing: 1px;
}
.txtTitulo{
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
.txtSub{
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.txtbtn{
  font-size: 5rem;
  letter-spacing: 1.5px;
}
.texto-branco-opaco{
  color: rgb(255, 255, 255,0.87);
}
.bg-branco-opaco{
  background-color: rgb(255, 255, 255,0.87);
}
.txtOrange{
  color: #FFA866;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
