/* You can add global styles to this file, and also import other style files */
.selecionado{
    font-weight: bold;
    
}

.bg-card-produto{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,.7));
}

.bg-orange{
    background-color: orange;
}